:root {
	color-scheme: dark;
}

body {
	color: lime;
	font-family: monospace;
	padding: 1rem;
}

a {
	color: inherit;
	font-weight: bold;
}

li {
	list-style-type: "- ";

	& a {
		margin-right: 1em;
	}
}