body {
	margin: 0 auto;
	max-width: 600px;
	padding: 30px;
	background: oldlace;
	color: dimgray;
	font-family: "Georgia", "Times New Roman", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
	color: black;
	font-family: "Garamond", "Times New Roman", serif;
}

a {
	color: inherit;
}

img {
	display: block;
	margin: 0 auto;
}

::selection {
	background: #ffff0080;
}