body {
	margin: 0 auto;
	max-width: 600px;
	padding: 30px;
	background: oldlace;
	color: dimgray;
	line-height: 2;
	font-family: "Georgia", "Times New Roman", serif;
}

b {
	color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
	color: black;
	font-family: "Garamond", "Times New Roman", serif;
}

a {
	color: inherit;
}

nav {
	text-align: center;
}

nav a {
	margin: 0 10px;
}

img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}


::selection,
mark {
	background: #ffff0080;
}

ul {
	line-height: 1.6;
	list-style-type: square;
}


figcaption {
	text-align: center;
}