:root {
	color-scheme: light dark;
}

body {
	max-width: 512px;
	padding: 8px 32px;
	margin: 0 auto;
	font-family: "Georgia", "Times New Roman", serif;
	line-height: 2;
	color: light-dark(dimgray, lightgray);
	background: light-dark(oldlace, #111);
}

a {
	color: inherit;
}

b {
	color: light-dark(black, white);
}

figcaption {
	text-align: center;
}

hr {
	margin: 32px 0;
	border: none;
	border-top: 1px solid currentColor;
}

img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

mark,
::selection {
	color: inherit;
	background: light-dark(#ffff0080, #ffff0040);
}

nav {
	text-align: center;

	& a {
		margin: 0 8px;
	}
}

nav ul {
	line-height: 1.6;
	list-style-type: square;
}
