:root {
	color-scheme: light dark;
}

body {
	max-width: 512px;
	padding: 8px 32px;
	margin: 0 auto;
	font-family: "Georgia", "Times New Roman", serif;
	line-height: 2;
	color: dimgray;
	background: oldlace;
}

b {
	color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Garamond", "Times New Roman", serif;
	color: black;
	text-align: center;
}

a {
	color: inherit;
}

nav {
	text-align: center;
}

nav a {
	margin: 0 8px;
}

img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

::selection,
mark {
	background: #ffff0080;
}

ul {
	line-height: 1.6;
	list-style-type: square;
}

figcaption {
	text-align: center;
}

hr {
	margin: 32px 0;
	border: none;
	border-top: 1px solid currentColor;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #d0d0d0;
		background: #1a1a1a;
	}

	b,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #ffffff;
	}

	::selection,
	mark {
		color: inherit;
		background: #ffff0040;
	}
}
